
.login{
    height: 80%;
    flex-basis: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: .75rem;
    z-index: 10;
    box-shadow: .5rem .5rem 1.75rem black;
    &__panel{
        height: 100%;
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        &--background{
            background-image: url(../../images/books.jpg);
            background-size: cover;
            filter: brightness(.4);
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &--title{
            color: white;
            font-size: 2rem;
            font-family: sans-serif;
            z-index: 10;
            margin-bottom: 3rem;
            text-align: center;
        }
        &--subtitle{
            color: rgb(199, 193, 193);
            font-size: 1.15rem;
            font-family: sans-serif;
            z-index: 10;
            font-weight: bold;
            margin-bottom: 2.5rem;
              text-align: center;
        }
        &--button{
            width: 60%;
            height: 6%;
            z-index: 10;
            border: .09rem solid white;
            font-size: 1.15rem;
            font-family: monospace;
            color: rgb(255, 255, 255);
            font-weight: bold;
            border-radius: .5rem;
            text-decoration: none;
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s linear;
            &:hover{
                background-color: var(--green);
                border-color: var(--green);
                cursor: pointer;
            }
        }
    }
    &__form{
        height: 100%;
        flex-basis: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-bottom: 7.5rem;
        background-color: var(--green);
        &--error{
            font-size: 1.4rem;
            color: #335b72;
            font-family: monospace;
            font-weight: bold;
        }
        &--title{
            color: white;
            font-size: 2rem;
            font-family: sans-serif;
            margin-top: 7.5rem;
        }
        &--subtitle{
            color: rgb(207, 203, 203);
            font-size: 1.25rem;
            font-family: sans-serif;
        }
        &--input,&--button{
            flex-basis: 7.5%;
            font-family: monospace;
            font-weight: bold;
            border: none
        }
        &--input{
            font-size: 1.1rem;
            color: rgb(221, 215, 215);
            background-color: transparent;
            position: relative;
            width: 45%;
            border-bottom: .125rem solid white;
            transition: all .2s linear;
            &:focus{
                border-bottom-color: var(--grey);
            }
        }
        &--button{
            transition: all .2s linear;
            font-size: 1.25rem;
            border-radius: .25rem;
            background-color: var(--grey);
            color: white;
            position: relative;
            width: 40%;
            &__text{
                z-index: 1000;
                position: relative;
            }
            &:hover{
                background-color: var(--ligthest);
                cursor: pointer;
                &:disabled{
                    cursor: not-allowed;
                }
            }
            &:active{
                transform: scale(.95);
            }
        }

        &--link{
            text-decoration: none;
            font-family: sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            padding-left: .7rem;
            padding-bottom: .5rem;
        }

        &--footer{
            width: 100%;
            height: 7.5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}
